html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* чтобы контент был сверху */
    align-items: center;
    min-height: 100vh;
}

.faq-header {
    background-color: #3f45d3;
    color: white;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}

.duck-image {
    height: 100%;
    margin-right: 20px;
}

.faq-title {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}

.faq-list {
    list-style: none;
    padding: 1%;
    margin: 0;
}

.faq-item {
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 40px;
}

.faq-category {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 50px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    min-height: 40px;
}

.faq-subcategory{
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    min-height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.faq-category::before {
    content: '';
    background-image: url('duck_icon.ico');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.faq-category-text, .faq-subcategory-text {
    flex: 1;
    text-align: left;
    padding-right: 10px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #3f45d3;
    transition: transform 0.3s ease;
}

.subcategory-arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid #6c6ee4;
    transition: transform 0.3s ease;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

.faq-answer.active .subcategory-arrow{
    transform: rotate(180deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    padding-left: 50px;
    font-size: 16px;
    color: #222;
}

.subanswer{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
    padding-left: 50px;
    font-size: 16px;
    color: #222;
    p {
        margin-bottom: 30px;
    }
}

.faq-answer.active .subanswer{
    max-height: 100000px;
    opacity: 1;
    transform: translateY(0);
}

.faq-item.active .faq-answer {
    max-height: 100000px;
    opacity: 1;
    transform: translateY(0);
}

* {
    box-sizing: border-box;
}


.faq-item.active .faq-answer {
    display: block;
}

.list-container {
    justify-content: center;
    padding: 20px;
    width: 60%;
    /*max-width: 700px;*/
    box-sizing: border-box;
}

.faq-footer{
    background-color: #3f45d3;
    color: white;
    padding: 20px 40px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    text-align: center;
    gap: 20px;
}

.footer-title {
    font-size: 20px;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.contact .name {
    margin-bottom: 5px;
}

.contact .telegram {
    font-size: 14px;

    a {
        color: #ffffff;
    }
    a:visited{
        color: #9c9c9c;
    }
}
